<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="/assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/css/fontawesome.solid.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>{% block title %}NightPi{% endblock %}</title>
</head>

<body>
    {% include "navbar.html" %}
    {% block content %}{% endblock %}

    <script src="/assets/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="module">
        import init, { navbar_update_active } from '/assets/wasm/nightpi.js';

        async function run() {
            await init();
            navbar_update_active("{% block page %}{% endblock %}");
        }

        run();
    </script>
</body>

</html>