{% macro nav_item(endpoint, text, url) %}
<li class="nav-item">
    <a class="nav-link {% if self.current_page_active(endpoint) %}active{% endif %}" href="{{ url }}">
        {{- text -}}{% if self.current_page_active(endpoint) %}<span class="sr-only">(current)</span>{% endif %}
    </a>
</li>
{% endmacro %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NightPi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% call nav_item("index", "Home", "/") %}
            {% call nav_item("settings", "Settings", "#") %}
        </ul>
    </div>
</nav>