{% extends "base.html" %}

{% block title %}NightPi - Settings{% endblock %}

{% block content %}
<div class="container">
    <h1>Settings</h1>
    <h2 id="system">System</h2>
    <div class="form-group row">
        <div class="col-sm-2"><b>SSH</b></div>
        <div class="custom-control custom-switch col-sm-10">
            <input {% if ssh -%}checked {% endif -%} type="checkbox" class="custom-control-input" name="ssh" id="ssh"
                onchange="nightpi.set_ssh_enabled(this);">
            <label class="custom-control-label" for="ssh">
                SSH enabled until reboot
            </label>
            <p class="font-weight-light">The default user is <code>pi</code> and the default password is
                <code>raspberry</code>.</p>
        </div>
    </div>
    <div class="form-group row">
        <div class="dropdown col-sm-2">
            <button class="btn btn-danger dropdown-toggle" type="button" id="powerDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-power-off"></i> Power
            </button>
            <div class="dropdown-menu" aria-labelledby="powerDropdown">
                <button type="button" class="dropdown-item" onclick="nightpi.reboot()">
                    <i class="fas fa-sync"></i> Reboot
                </button>
                <button type="button" class="dropdown-item" onclick="nightpi.poweroff()">
                    <i class="fas fa-power-off"></i> Power Off
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{%- block page -%}settings{%- endblock -%}